<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EcoRide - Sustainable Car Rental</title>
    <%- include('favicon.ejs') %>
    <link rel="stylesheet" href="styles/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <header>
            <%- include('header.ejs') %>
        </header>

      <section class="car">
        <div class="car-content">
          <h1>Sustainable Car Rental</h1>
          <p>
            Discover eco-friendly transportation with EcoRide. Book your
            sustainable ride and earn eco-points while reducing your carbon
            footprint.
          </p>
          <a href="/index" class="btn">Get Started</a>
        </div>
        <div class="car-image">
          <img src="images/car.png" alt="Eco-friendly car" />
        </div>
      </section>
    </div>
  </body>
</html>
